QuantumSimulation/Calculations_.py
QuantumSimulation/simpleSimulationZZZ.py
QuantumSimulation/SchwingerSimulation_OldEvolve.py
test.txt
*.pyc
__pycache__/
.vscode/
.venv/
.ipynb_checkpoints/
testFiles/
Data/
Plots/
Circuits/